::-webkit-scrollbar {
    width:2px;
    height: 2px;
}
::-webkit-scrollbar-track {
-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
border-radius:2px;
background:rgba(0,0,0,0.1);
-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background:rgba(255,255,255,0.4);
}


.taskHeader {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.HeaderButton {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #4B5682;
  color: #fff;
  cursor: pointer;
}

.taskBody {
  height: 75vh;
  display: flex;
  flex-direction: row;
}

.taskMenuStyle {
  background-color: #fff;
  width: 250px;
  height: 75vh;
  overflow: scroll;
  // flex-grow: 4
}

.taskListStyle {
  margin-left: 20px;
  flex-grow: 20;
  height: 75vh;
  overflow: scroll;
}

.listTitle {
  height: 45px;
  background-color: #fff;
  font-size: 1.2rem;
  line-height: 45px;
}

:global(.ant-modal-body) {
  padding: 0;
}

.titleContent {
  height: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  text-align: center;
  background-color: #EBEBEB;
}

.bodyContent {
  margin-top: 3rem;
  padding: 2rem;
}

.bottomText {
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  font-size: 1.5rem;
  color: #ccc;
}

.bottomButton {
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

.taskChartsBody {
  margin-top: 5px;
  padding: 20px 40px;
  height: 500px;
  background-color: #fff;
}

.taskSelectContent {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.taskSelectButton {
  width: 10rem;
  height: 3rem;
  border: 1px solid #7792BB;
  border-radius: 2rem;
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  color: #7792BB;
}

.chartsButton {
  height: 100px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
}

.selectStyle {
  margin-top: 5px;
  height: 160px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
}

.selectButton {
  width: 10rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  background-color: #7792BB;
  color: #fff;
}

.ChangeListStyle {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.checked {
  width: 7rem;
  height: 3.2rem;
  line-height: 3.2rem;
  border: 1px solid #7792BB;
  background-color: #7792BB;
  color: #fff;
}

.noChecked {
  width: 7rem;
  height: 3.2rem;
  line-height: 3.2rem;
  border: 1px solid #ccc;
}


.listDataContent {
  width: 100%;
  height: 57vh;
  background-color: #fff;
  margin-top: 20px;
}
